<div class="input_box">
    <div>
            <label class="input">Text</label>
            <input placeholder="Puppy" [(ngModel)]="searchFields.text" type="text" id="item-input" 
            #textSearch (keypress)="keyPress($event)"/>
    </div>
    <div>
        <label>Tag(s)</label>
        <input placeholder="cute small" [(ngModel)]="searchFields.tag" type="text" id="item-input" 
        #tagSearch (keypress)="keyPress($event)"/>
    </div>
    <div>
        <label>OwnerID</label>
        <input placeholder="78961587@N07" [(ngModel)]="searchFields.owner" type="text" id="item-input" 
        #ownerSearch (keypress)="keyPress($event)"/>
    </div>
</div>
<button type="button" (click)="addOnSearch()">Search</button>